<h1>Der Tag, der alles ändern sollte</h1>
<p>
  Ich bin {{hauptCharakter.name}} und habe mich aufgrund der finanziellen Situation innerhalb der Familie dafür
  entschieden, Hunter zu werden. Doch bevor ich euch etwas über meine Zeit als Hunter berichten möchte, will ich
  zunächst mich vorstellen und erklären, wie es eigentlich zu dieser Situation kam.
</p>
<p>
  Wie erwähnt fing alles damit an, dass ich in einer finanziellen Notlage stand. Dies kam daher, dass das Haus
  unserer Familie beim großen Ausbruch des ersten Gates direkt in der Gefahrenzone Stand.
  Es bedarf nicht keiner Erklärung, wie gewaltig das Ausmaß der zerstörung war, doch etwas möchte ich euch
  diesbezüglich näher bringen.
  Stellt euch vor, ihr wacht auf und das feindliche Militär steht vor eurer Tür. In dem Moment hätte ich mir
  gewünscht, dass dies der Fall gewesen wäre... Denn als ich aufwachte war das, was ich sah um einiges schlimmer, als
  all die Kriege, die ich zuvor durch Berichte aus den Nachrichten mitbekommen hatte.
</p>
<p>
  Doch was war das eigentlich für ein Krieg, nein, was war das für ein Massaker, durch den ich da eigentlich früh am
  Morgen wach wurde? Es waren schreie, die so unglaublich laut und schrill waren, dass selbst mit zugehaltenen Augen
  Bilder ins Gehirn gebrannt wurden. Bilder, die ich nicht näher erläutern kann und möchte. Ich hatte instinktiv den
  Blick gemieden und habe versucht mir nichts ansehen zu lassen, immerhin war mein kleiner Bruder direkt neben mir.
  Er war so perplex, dass ihm nicht einmal mehr Tränen die Wangen runter liefen und er einfach nur noch leer nach
  draußen starrte.
</p>
<p>

</p>
